#castheading
{
	margin-top: 10px;
	display: block;
	border: 1px solid white;
	padding: 10px;
	
	background-color: pink;
	
	float: left;
}
/*------------------------------*/

.charpic
{
	float: right;
}
/*------------------------------*/

h2
{
	text-decoration: underline;
}
/*------------------------------*/

div a
{
	text-decoration: none;
	color: black;
	 
}
div a:link, diva:visited
{
	background-color: white;
	color: black;
}

div a:hover
{	
	text-decoration: underline;
	color: white;
}
/*------------------------------*/

.div1 
{
	
	border: 1px solid black;
	padding: 10px;
	width: 98%;

	background-color: silver;
	text-decoration: none;
	text-align: none;

	float: left;
}

